@media screen and (max-width: 360px){
  background-color: white;
}
@media screen and (min-width: 361px) and (max-width: 768px){
  background-color: white;
}
@media screen and (min-width: 769px){
  background-color: white;
}
*{
  font-family: arial;
  color: white;
}
body{
  background-color: black;
}
header{
  min-width: 330px;
  width:80%;
  margin: 10px;
}
#logo{
  min-width: 48px;
  max-width: 120px;
}
#subText{
  margin-top: 0px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.inline{
  display: inline;
}
